ChequeConsumer/Service References/ChequeRESTService/RESTChequeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RESTChequeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59525/RESTChequeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59525/RESTChequeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59525/RESTChequeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChequeBusinessData.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRESTChequeService_SaveMenuItem_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMenuItem" />
  </wsdl:message>
  <wsdl:message name="IRESTChequeService_SaveMenuItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMenuItemResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTChequeService_MenuItem_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuItem" />
  </wsdl:message>
  <wsdl:message name="IRESTChequeService_MenuItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IRESTChequeService">
    <wsdl:operation name="SaveMenuItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IRESTChequeService/SaveMenuItem" message="tns:IRESTChequeService_SaveMenuItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRESTChequeService/SaveMenuItemResponse" message="tns:IRESTChequeService_SaveMenuItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IRESTChequeService/MenuItem" message="tns:IRESTChequeService_MenuItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRESTChequeService/MenuItemResponse" message="tns:IRESTChequeService_MenuItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="RESTChequeService" />
</wsdl:definitions>