ChequeConsumer/Service References/ChequeRESTService/RESTChequeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChequeBusinessData.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChequeBusinessData.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BillingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChequeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChequeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuItems" nillable="true" type="tns:ArrayOfMenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingInformation" nillable="true" type="tns:BillingInformation" />
  <xs:complexType name="ArrayOfMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuItem" nillable="true" type="tns:MenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuItem" nillable="true" type="tns:ArrayOfMenuItem" />
  <xs:complexType name="MenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MenuDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuItem" nillable="true" type="tns:MenuItem" />
</xs:schema>