ChequeClient/Service References/RESTServiceReference/RESTChequeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59525/RESTChequeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChequeBusinessData.Entity" />
  <xs:element name="SaveMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChequeBusinessData.Entity" minOccurs="0" name="billingInfo" nillable="true" type="q1:BillingInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMenuItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>