ChequeClient/Service References/SoapServiceRef/ChequeSOAPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllMenuItems">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMenuItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMenuItemsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllMenuItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMenuItems" />
  </wsdl:message>
  <wsdl:message name="GetAllMenuItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMenuItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="ChequeSOAPServiceSoap">
    <wsdl:operation name="GetAllMenuItems">
      <wsdl:input message="tns:GetAllMenuItemsSoapIn" />
      <wsdl:output message="tns:GetAllMenuItemsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChequeSOAPServiceSoap" type="tns:ChequeSOAPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMenuItems">
      <soap:operation soapAction="http://tempuri.org/GetAllMenuItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChequeSOAPServiceSoap12" type="tns:ChequeSOAPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMenuItems">
      <soap12:operation soapAction="http://tempuri.org/GetAllMenuItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChequeSOAPService">
    <wsdl:port name="ChequeSOAPServiceSoap" binding="tns:ChequeSOAPServiceSoap">
      <soap:address location="http://localhost:60171/ChequeSOAPService.asmx" />
    </wsdl:port>
    <wsdl:port name="ChequeSOAPServiceSoap12" binding="tns:ChequeSOAPServiceSoap12">
      <soap12:address location="http://localhost:60171/ChequeSOAPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>