ChequeConsumer/Web References/ChequeSoapService/ChequeSOAPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllMenuItems">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMenuItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMenuItemsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMenuItemsList">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMenuItemsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMenuItemsListResult" type="tns:ArrayOfMenuItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMenuItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MenuItem" nillable="true" type="tns:MenuItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MenuItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="MenuName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MenuDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveMenuItemBySaop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BillingInfo" type="tns:BillingInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BillingInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ChequeNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MenuItems" type="tns:ArrayOfMenuItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveMenuItemBySaopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveMenuItemBySaopResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllMenuItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMenuItems" />
  </wsdl:message>
  <wsdl:message name="GetAllMenuItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMenuItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMenuItemsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMenuItemsList" />
  </wsdl:message>
  <wsdl:message name="GetAllMenuItemsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMenuItemsListResponse" />
  </wsdl:message>
  <wsdl:message name="SaveMenuItemBySaopSoapIn">
    <wsdl:part name="parameters" element="tns:SaveMenuItemBySaop" />
  </wsdl:message>
  <wsdl:message name="SaveMenuItemBySaopSoapOut">
    <wsdl:part name="parameters" element="tns:SaveMenuItemBySaopResponse" />
  </wsdl:message>
  <wsdl:portType name="ChequeSOAPServiceSoap">
    <wsdl:operation name="GetAllMenuItems">
      <wsdl:input message="tns:GetAllMenuItemsSoapIn" />
      <wsdl:output message="tns:GetAllMenuItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMenuItemsList">
      <wsdl:input message="tns:GetAllMenuItemsListSoapIn" />
      <wsdl:output message="tns:GetAllMenuItemsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveMenuItemBySaop">
      <wsdl:input message="tns:SaveMenuItemBySaopSoapIn" />
      <wsdl:output message="tns:SaveMenuItemBySaopSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChequeSOAPServiceSoap" type="tns:ChequeSOAPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMenuItems">
      <soap:operation soapAction="http://tempuri.org/GetAllMenuItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMenuItemsList">
      <soap:operation soapAction="http://tempuri.org/GetAllMenuItemsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMenuItemBySaop">
      <soap:operation soapAction="http://tempuri.org/SaveMenuItemBySaop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChequeSOAPServiceSoap12" type="tns:ChequeSOAPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMenuItems">
      <soap12:operation soapAction="http://tempuri.org/GetAllMenuItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMenuItemsList">
      <soap12:operation soapAction="http://tempuri.org/GetAllMenuItemsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMenuItemBySaop">
      <soap12:operation soapAction="http://tempuri.org/SaveMenuItemBySaop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChequeSOAPService">
    <wsdl:port name="ChequeSOAPServiceSoap" binding="tns:ChequeSOAPServiceSoap">
      <soap:address location="http://localhost:60171/ChequeSOAPService.asmx" />
    </wsdl:port>
    <wsdl:port name="ChequeSOAPServiceSoap12" binding="tns:ChequeSOAPServiceSoap12">
      <soap12:address location="http://localhost:60171/ChequeSOAPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>